MultiPlatformSocialMediaEmail-built.json
{
  "name": "Multi-Platform API Executor - PRE-FORMATTED CONTENT",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dj-event",
        "responseMode": "responseNode"
      },
      "id": "db1cb1a8-09b5-b190-4903-8a112cff091b",
      "name": "📥 Webhook Trigger (API) - PRE-FORMATTED CONTENT",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1000,
        0
      ],
      "webhookId": "dj-event-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.twitter !== undefined }}",
              "value2": true
            }
          ]
        }
      },
      "id": "9b235081-7c85-c87b-4929-becf7057566d",
      "name": "🐦 Has Twitter Content?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        200,
        -200
      ]
    },
    {
      "parameters": {
        "resource": "tweet",
        "text": "={{ $json.twitter.text }}",
        "additionalFields": {}
      },
      "id": "2c3fe310-333f-277b-4f32-ab8676d78d8b",
      "name": "🐦 Post to Twitter/X",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        400,
        -200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.instagram !== undefined }}",
              "value2": true
            }
          ]
        }
      },
      "id": "780e148d-85b9-639f-4d15-836c6d558325",
      "name": "📸 Has Instagram Content?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "operation": "createPost",
        "additionalFields": {}
      },
      "id": "0088e969-08ca-7f61-457e-9b96c9b9ae29",
      "name": "📸 Post to Instagram",
      "type": "n8n-nodes-base.instagram",
      "typeVersion": 1,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.facebook !== undefined }}",
              "value2": true
            }
          ]
        }
      },
      "id": "2b3674c3-9ad8-5f3b-4b8a-8844a4829632",
      "name": "👥 Has Facebook Content?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        200,
        200
      ]
    },
    {
      "parameters": {
        "resource": "post",
        "message": "={{ $json.facebook.text }}",
        "additionalFields": {}
      },
      "id": "bc4d5d06-12ab-45fd-4c7d-81ec0d2322db",
      "name": "👥 Post to Facebook Page",
      "type": "n8n-nodes-base.facebook",
      "typeVersion": 2.1,
      "position": [
        400,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.linkedin !== undefined }}",
              "value2": true
            }
          ]
        }
      },
      "id": "fc65904b-3706-7780-4226-b3416b384a85",
      "name": "💼 Has LinkedIn Content?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        200,
        400
      ]
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "id": "f9b38ec4-95d1-2ef2-4fa3-90e70845597a",
      "name": "💼 Post to LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        400,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.email !== undefined }}",
              "value2": true
            }
          ]
        }
      },
      "id": "669903d2-b36d-5ec7-4d7d-a5fe796e212a",
      "name": "📧 Has Email Content?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        200,
        600
      ]
    },
    {
      "parameters": {
        "fromEmail": "noreply@eventpromoter.com",
        "toEmail": "={{ $json.email.recipients || 'user@example.com' }}",
        "subject": "={{ $json.email.subject }}",
        "html": "={{ $json.email.html }}"
      },
      "id": "759aad6f-89e1-c521-4728-9c3c10aa5117",
      "name": "📧 Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        400,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.reddit !== undefined }}",
              "value2": true
            }
          ]
        }
      },
      "id": "a4723b69-5eea-653b-4de3-834ea019da1d",
      "name": "🔴 Has Reddit Content?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        200,
        800
      ]
    },
    {
      "parameters": {
        "resource": "post",
        "subreddit": "={{ $json.reddit.subreddit }}",
        "title": "={{ $json.reddit.title }}",
        "text": "={{ $json.reddit.text }}",
        "additionalFields": {}
      },
      "id": "ebab7789-9a78-84d0-4746-823b1570e99c",
      "name": "🔴 Post to Reddit",
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [
        400,
        800
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "0b96c802-0f57-4ef6-4700-89c6caae9042",
      "name": "✅ Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "content": "# 🚀 Multi-Platform Social Media & Email Publisher\n\n**EN:** This workflow publishes DJ events (or any events) to multiple social media platforms and sends emails simultaneously.\n\n**DE:** Dieser Workflow veröffentlicht DJ-Events (oder beliebige Events) auf mehreren Social-Media-Plattformen und sendet gleichzeitig E-Mails.\n\n## 📋 Supported Platforms / Unterstützte Plattformen\n\n- 🐦 **Twitter/X** - Text + Images\n- 📷 **Instagram** - Images + Captions\n- 👤 **Facebook** - Posts + Images\n- 💼 **LinkedIn** - Professional Posts\n- 🔴 **Reddit** - Subreddit Posts with Flairs\n- 📧 **Email** - HTML + Plain Text\n\n## ⚙️ How to Use / Verwendung\n\n1. **Configure Credentials** - See panels below for each platform\n2. **Send POST request** to webhook with event data\n3. **Enable/Disable platforms** via `publishTo` object\n\n## 📝 Input Format\n\nSee \"📥 Input Format\" panel below for complete example.\n\n---\n\n*(Doppelklick zum Bearbeiten | [n8n Sticky Notes Guide](https://docs.n8n.io/workflows/sticky-notes/))*\n",
        "height": 600,
        "width": 800,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        380,
        100
      ],
      "id": "overview",
      "name": "📋 Overview"
    },
    {
      "parameters": {
        "content": "# 📥 Input Format / Eingabeformat\n\n## Required Fields / Pflichtfelder\n\n```json\n{\n  \"eventTitle\": \"DJ Night @ Club XYZ\",\n  \"eventDate\": \"2025-05-15\",\n  \"venue\": \"Club XYZ\",\n  \"city\": \"Berlin\"\n}\n```\n\n## Complete Example / Vollständiges Beispiel\n\n```json\n{\n  \"eventTitle\": \"Techno Night @ Berghain\",\n  \"eventDate\": \"2025-05-15\",\n  \"eventTime\": \"23:00\",\n  \"venue\": \"Berghain\",\n  \"city\": \"Berlin\",\n  \"description\": \"Join us for an unforgettable night!\",\n  \"imageUrl\": \"https://example.com/image.jpg\",\n  \"ticketUrl\": \"https://tickets.example.com\",\n  \"publishTo\": {\n    \"twitter\": true,\n    \"instagram\": true,\n    \"facebook\": true,\n    \"linkedin\": false,\n    \"reddit\": true,\n    \"email\": true\n  },\n  \"emailRecipients\": [\"fan@example.com\"],\n  \"redditSubreddit\": \"DJs\",\n  \"redditFlair\": \"Event\",\n  \"redditNsfw\": false,\n  \"redditSpoiler\": false\n}\n```\n\n---\n\n*(Doppelklick zum Bearbeiten)*\n",
        "height": 700,
        "width": 600,
        "color": 1
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -420,
        -380
      ],
      "id": "input-format",
      "name": "📥 Input Format"
    },
    {
      "parameters": {
        "content": "# 🔐 Credentials Setup / Credentials einrichten\n\n## ⚠️ WICHTIG: Separate Credentials!\n\n**Jede Plattform benötigt EIGENE Credentials!**\n\n## Checklist / Checkliste\n\n- [ ] **Twitter/X**: `TWITTER_CREDENTIALS_ID`\n- [ ] **Instagram**: `INSTAGRAM_CREDENTIALS_ID`\n- [ ] **Facebook**: `FACEBOOK_CREDENTIALS_ID`\n- [ ] **LinkedIn**: `LINKEDIN_CREDENTIALS_ID`\n- [ ] **Reddit**: `REDDIT_CREDENTIALS_ID`\n- [ ] **Email**: `SMTP_CREDENTIALS_ID`\n\n## 📚 Detailed Instructions\n\nSee individual credential panels below for each platform.\n\nSiehe einzelne Credential-Panels unten für jede Plattform.\n\n---\n\n*(Doppelklick zum Bearbeiten)*\n",
        "height": 500,
        "width": 600,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -420,
        360
      ],
      "id": "credentials-overview",
      "name": "🔐 Credentials Overview"
    },
    {
      "parameters": {
        "content": "# 🐦 Twitter/X Credentials\n\n## CREDENTIALS REQUIRED / CREDENTIALS ERFORDERLICH\n\n1. Go to: **https://developer.twitter.com/**\n2. Create App → **API Keys & Tokens**\n3. You need:\n   - **API Key** (Consumer Key)\n   - **API Secret** (Consumer Secret)\n   - **Access Token**\n   - **Access Token Secret**\n\n## In n8n:\n\n1. **Settings** → **Credentials** → **Add Credential**\n2. Select **Twitter OAuth1 API**\n3. Enter all 4 values\n4. Assign to node: **🐦 Post to Twitter/X**\n\n---\n\n**Credential ID:** `TWITTER_CREDENTIALS_ID`\n\n*(Doppelklick zum Bearbeiten)*\n",
        "height": 450,
        "width": 500,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1500,
        -420
      ],
      "id": "twitter-credentials",
      "name": "🐦 Twitter Credentials"
    },
    {
      "parameters": {
        "content": "# 📷 Instagram Credentials\n\n## CREDENTIALS REQUIRED / CREDENTIALS ERFORDERLICH\n\n⚠️ **Requires Facebook Business Account**\n\n1. Go to: **https://developers.facebook.com/**\n2. Create **Meta App** (Type: **Business**)\n3. Add **Instagram Graph API** product\n4. You need:\n   - **App ID**\n   - **App Secret**\n   - **Access Token** (with permissions)\n\n## In n8n:\n\n1. **Settings** → **Credentials** → **Add Credential**\n2. Select **Instagram OAuth2 API**\n3. Enter credentials\n4. Assign to node: **📷 Post to Instagram**\n\n---\n\n**Credential ID:** `INSTAGRAM_CREDENTIALS_ID`\n\n*(Doppelklick zum Bearbeiten)*\n",
        "height": 710,
        "width": 500,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1480,
        360
      ],
      "id": "instagram-credentials",
      "name": "📷 Instagram Credentials"
    },
    {
      "parameters": {
        "content": "# 👤 Facebook Credentials\n\n## CREDENTIALS REQUIRED / CREDENTIALS ERFORDERLICH\n\n1. Go to: **https://developers.facebook.com/**\n2. Create **Meta App** (Type: **Business**)\n3. Add **Facebook Login** product\n4. You need:\n   - **App ID**\n   - **App Secret**\n   - **Page Access Token** (with `pages_manage_posts`)\n   - **Page ID** (set as env var `FACEBOOK_PAGE_ID`)\n\n## In n8n:\n\n1. **Settings** → **Credentials** → **Add Credential**\n2. Select **Facebook OAuth2 API**\n3. Enter credentials\n4. Set env var: `FACEBOOK_PAGE_ID=your_page_id`\n5. Assign to node: **👤 Post to Facebook Page**\n\n---\n\n**Credential ID:** `FACEBOOK_CREDENTIALS_ID`\n\n*(Doppelklick zum Bearbeiten)*\n",
        "height": 680,
        "width": 500,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2020,
        360
      ],
      "id": "facebook-credentials",
      "name": "👤 Facebook Credentials"
    },
    {
      "parameters": {
        "content": "# 💼 LinkedIn Credentials\n\n## CREDENTIALS REQUIRED / CREDENTIALS ERFORDERLICH\n\n1. Go to: **https://www.linkedin.com/developers/apps**\n2. Create new app\n3. You need:\n   - **Client ID**\n   - **Client Secret**\n4. Configure **OAuth Redirect URL**:\n   `https://your-n8n-instance.com/rest/oauth2-credential/callback`\n5. Request permissions: `w_member_social`, `w_organization_social`\n\n## In n8n:\n\n1. **Settings** → **Credentials** → **Add Credential**\n2. Select **LinkedIn OAuth2 API**\n3. Enter Client ID and Secret\n4. Complete OAuth flow\n5. Assign to node: **💼 Post to LinkedIn**\n\n---\n\n**Credential ID:** `LINKEDIN_CREDENTIALS_ID`\n\n*(Doppelklick zum Bearbeiten)*\n",
        "height": 500,
        "width": 500,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2060,
        -420
      ],
      "id": "linkedin-credentials",
      "name": "💼 LinkedIn Credentials"
    },
    {
      "parameters": {
        "content": "# 🔴 Reddit Credentials\n\n## CREDENTIALS REQUIRED / CREDENTIALS ERFORDERLICH\n\n1. Go to: **https://www.reddit.com/prefs/apps**\n2. Click **\"create app\"**\n3. Fill in:\n   - **Name**: Your app name\n   - **App type**: **\"script\"**\n   - **Redirect URI**: `http://localhost:8080`\n4. Note:\n   - **Client ID** (under app name)\n   - **Client Secret** (only shown once!)\n5. Get OAuth Token:\n   - Use: https://not-an-aardvark.github.io/reddit-oauth-helper/\n   - Token format: `Bearer YOUR_ACCESS_TOKEN`\n\n## In n8n:\n\n1. **Settings** → **Credentials** → **Add Credential**\n2. Select **HTTP Header Auth**\n3. Configure:\n   - **Name**: `Authorization`\n   - **Value**: `Bearer YOUR_ACCESS_TOKEN`\n4. Assign to node: **🔴 Post to Reddit**\n\n---\n\n**Credential ID:** `REDDIT_CREDENTIALS_ID`\n\n**Reddit Fields:**\n- `redditSubreddit`: Required (e.g., \"DJs\")\n- `redditFlair`: Optional\n- `redditNsfw`: true/false\n- `redditSpoiler`: true/false\n\n*(Doppelklick zum Bearbeiten)*\n",
        "height": 960,
        "width": 500,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2600,
        360
      ],
      "id": "reddit-credentials",
      "name": "🔴 Reddit Credentials"
    },
    {
      "parameters": {
        "content": "# 📧 Email (SMTP) Credentials\n\n## CREDENTIALS REQUIRED / CREDENTIALS ERFORDERLICH\n\n### Gmail:\n1. Enable **2-Factor Authentication**\n2. Go to: **https://myaccount.google.com/apppasswords**\n3. Generate **App Password** for \"Mail\"\n4. Use this password (not your regular password)\n\n### SMTP Settings:\n- **Host**: `smtp.gmail.com`\n- **Port**: `587` (TLS) or `465` (SSL)\n- **User**: your-email@gmail.com\n- **Password**: App Password (for Gmail)\n\n## In n8n:\n\n1. **Settings** → **Credentials** → **Add Credential**\n2. Select **SMTP**\n3. Enter SMTP settings\n4. Optional: Set `EMAIL_FROM` env var\n5. Assign to node: **📧 Send Email**\n\n---\n\n**Credential ID:** `SMTP_CREDENTIALS_ID`\n\n**Other Providers:**\n- Outlook: `smtp.office365.com`\n- Custom: Use your provider's SMTP settings\n\n*(Doppelklick zum Bearbeiten)*\n",
        "height": 550,
        "width": 500,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2680,
        -440
      ],
      "id": "email-credentials",
      "name": "📧 Email Credentials"
    },
    {
      "parameters": {
        "content": "# 📢 Discord & Telegram Notifications\n\n## Discord Webhook Setup\n\n1. **Go to your Discord server**\n2. **Right-click on a channel** → **Edit Channel** → **Integrations** → **Webhooks**\n3. **Create new Webhook** with a name (e.g., \"n8n-workflow\")\n4. **Copy the Webhook URL**\n\n## In n8n Environment Variables:\n```bash\nDISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/YOUR_WEBHOOK_ID/YOUR_WEBHOOK_TOKEN\n```\n\n## Telegram Bot Setup\n\n1. **Message @BotFather** on Telegram\n2. **Send:** `/newbot`\n3. **Follow instructions** to create your bot\n4. **Get your Bot Token** from BotFather\n\n## In n8n Environment Variables:\n```bash\nTELEGRAM_BOT_TOKEN=1234567890:ABCdefGHIjklMNOpqrsTUVwxyz\nTELEGRAM_CHAT_ID=123456789\n```\n\n### How to get Chat ID:\n1. **Message your bot** with any text\n2. **Visit:** `https://api.telegram.org/bot<YOUR_BOT_TOKEN>/getUpdates`\n3. **Find your chat ID** in the response\n\n## Features:\n- ✅ **Rich Discord embeds** with colors and formatting\n- ✅ **HTML Telegram messages** with markup\n- ✅ **Success/Failure indicators** with colors\n- ✅ **Performance metrics** included\n- ✅ **Automatic fallbacks** to console logging\n\n## Example Notification:\n\n**Discord:** Rich embed with event details, success rates, and timing\n**Telegram:** Formatted message with HTML markup and statistics\n\n---\n\n*(Doppelklick zum Bearbeiten)*\n",
        "height": 600,
        "width": 700,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3240,
        360
      ],
      "id": "discord-telegram-setup",
      "name": "📢 Discord & Telegram Setup"
    }
  ],
  "connections": {
    "📥 Webhook Trigger (API) - PRE-FORMATTED CONTENT": {
      "main": [
        [
          {
            "node": "🐦 Has Twitter Content?",
            "type": "main",
            "index": 0
          },
          {
            "node": "📸 Has Instagram Content?",
            "type": "main",
            "index": 0
          },
          {
            "node": "👥 Has Facebook Content?",
            "type": "main",
            "index": 0
          },
          {
            "node": "💼 Has LinkedIn Content?",
            "type": "main",
            "index": 0
          },
          {
            "node": "📧 Has Email Content?",
            "type": "main",
            "index": 0
          },
          {
            "node": "🔴 Has Reddit Content?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🐦 Has Twitter Content?": {
      "main": [
        [
          {
            "node": "🐦 Post to Twitter/X",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "🐦 Post to Twitter/X": {
      "main": [
        [
          {
            "node": "✅ Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📸 Has Instagram Content?": {
      "main": [
        [
          {
            "node": "📸 Post to Instagram",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "📸 Post to Instagram": {
      "main": [
        [
          {
            "node": "✅ Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "👥 Has Facebook Content?": {
      "main": [
        [
          {
            "node": "👥 Post to Facebook Page",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "👥 Post to Facebook Page": {
      "main": [
        [
          {
            "node": "✅ Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💼 Has LinkedIn Content?": {
      "main": [
        [
          {
            "node": "💼 Post to LinkedIn",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "💼 Post to LinkedIn": {
      "main": [
        [
          {
            "node": "✅ Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 Has Email Content?": {
      "main": [
        [
          {
            "node": "📧 Send Email",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "📧 Send Email": {
      "main": [
        [
          {
            "node": "✅ Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔴 Has Reddit Content?": {
      "main": [
        [
          {
            "node": "🔴 Post to Reddit",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "🔴 Post to Reddit": {
      "main": [
        [
          {
            "node": "✅ Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "7302af2d76ff11fa25dfe4c4b676102587b05b140a7ac12e86e85bb8179e9e38"
  }
}